@page
@model IndexModel
@{
  ViewData["Title"] = "Home";
}

<div class="text-center">
  <h1 class="display-4">Welcome To JAZA!</h1>
  <p>A place where you find your next home</p>

  <h3>Filter By</h3>
  <select asp-for="Offset" asp-items="@(new SelectList(Model.States))"></select>

  <h3>Listings</h3>
  <div class="row">
    <div class="col">
      <a asp-page-handler="DecrementPropertyOffset"
         asp-route-offset="@Model.Offset"
         class="btn btn-outline-dark">←</a>
    </div>

    @for (int i = Model.Offset; i < Model.Capacity; i++)
    {
      <div class="col">
        <p>
          <a asp-page="./EstateProperties.Retrieve"
             asp-route-id="@Model.Properties[i].PropertyID">
            @Model.Properties[i].PropertyID
          </a>
        </p>
        <p>
          @Model.Properties[i].StreetAddress,
          @Model.Properties[i].State
          @Model.Properties[i].ZipCode
        </p>
        <p>@Model.Properties[i].ListDate:MM/dd/yyyy</p>
        <p>Starting Price: @Model.Properties[i].StartingPrice:C</p>
      </div>
    }

    <div class="col">
      <a asp-page-handler="IncrementPropertyOffset"
         asp-route-offset="@Model.Offset"
         class="btn btn-outline-dark">→</a>
    </div>
  </div>
</div>
