@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Project_2</h1>
    <p>Where we haven't come up with a proper name yet.</p>

    <section>
        <h3>Listings</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a asp-page-handler="decrementpropertyoffset" class="btn btn-outline-dark">←</a>
                </div>
                <!--Total Property amount can be below view capacity-->
                @if (Model.Offset + 5 > Model.Properties.Count) {
                    Model.Capacity = Model.Properties.Count;
                } else {
                    Model.Capacity = Model.Offset + 5;
                }
                @for (int i = Model.Offset; i < Model.Capacity; i++) {
                    <div class="col">
                        <p><a asp-page="./EstateProperties.Retrieve" asp-route-id="@Model.Properties[i].PropertyID">@Model.Properties[i].PropertyID</a></p>
                        <p>@Model.Properties[i].StreetAddress, @Model.Properties[i].State @Model.Properties[i].ZipCode</p>
                        <p>@Model.Properties[i].ListDate</p>
                        <p>Starting Price: @Model.Properties[i].StartingPrice</p>
                    </div>                        
                }
                <div class="col">
                    <a asp-page-handler="incrementpropertyoffset" class="btn btn-outline-dark">→</a>
                </div>
            </div>
        </div>

    </section>
</div>
