@page
@using Project_2.Pages.Pages.Admin
@model PropertyModel
@{
    ViewData["Title"] = "Admin Property List";
}

<div class="container">
    <h1 class="text-center">Property List</h1>
    @for (int i = 0; i < Model.PropertyList!.Count; i += 4)
    {
        <div class="row">
            @for (int j = i; j < Model.PropertyList.Count; j++)
            {
                if (j == i + 4)
                {
                    break;
                }
                <div class="col">
                    @* <img src="../wwwroot/11993-NOQXLF.jpg" /> *@
                    <h2>Starting Price: @Model.PropertyList[j].StartingPrice</h2>
                    <h2>@Model.PropertyList[j].StreetAddress,</h2>
                    <h2>
                        @Model.PropertyList[j].City, @Model.PropertyList[j].State,
                        @Model.PropertyList[j].Country @Model.PropertyList[j].ZipCode
                    </h2>
                    <p>
                        @Model.PropertyList[j].Bedrooms bedrooms |
                        @Model.PropertyList[j].Bathrooms bathrooms
                    </p>
                    @if (@Model.PropertyList[j].ForSale)
                    {
                        <p>For Sale</p>
                    }
                    else
                    {
                        <p>Closed</p>
                    }
                    <p>Listed: @Model.PropertyList[j].ListDate</p>
                    <p>Listed By: @Model.OwnerList[j]</p>
                    @{
                        var prop = Model.PropertyList[j]; var owner = Model.OwnerList[j];
                    }
                    <form method="post" asp-page-handler="Delete" asp-route-propertyId="@prop.PropertyID"
                        asp-route-ownerId="@owner.Id">
                        <button type="submit" class="btn btn-danger">
                            Delete Listing
                        </button>
                    </form>
                </div>
            }
        </div>
    }
</div>